<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
				 
	<title>Budget2</title>

<script>

// Global variable mapping payment_type_id to name:
var paymentTypes = new Object();

// Helper function to add commas to numeric strings:
function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function capitaliseFLetter(x) {
		return x[0].toUpperCase() + x.slice(1);
}

// Get ourr PaymentTypes and populate our global map object:
function getPaymentTypes() {

	var reqPaymentTypes = new XMLHttpRequest();
	reqPaymentTypes.open("GET", "/ajax/paymenttypes");

	reqPaymentTypes.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

			var data = JSON.parse(this.responseText);
			var selectPaymentTypes = document.getElementById("selectPaymentTypes")

			// Clear our select box:
			selectPaymentTypes.options.length = 0;

			data.forEach( function(obj) {

				// Populate our global variable:
				paymentTypes[obj.id] = obj.name;

				var option = document.createElement("option");
				option.value = obj.id;
				option.text = capitaliseFLetter(obj.name);
				selectPaymentTypes.add(option);
			});
		}
	};
	// Fire off the request:
	reqPaymentTypes.send();
}

// Function that gets our budget summary, populates the page with data
// and applies conditional formatting if required.
function getBudgetSummary() {

	// Create new request object:
	var reqBudgetSummary = new XMLHttpRequest();
	reqBudgetSummary.open("GET", "/ajax/budgetsummary");

	// Define event listener:
	reqBudgetSummary.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);

			// Savings Summary:
			document.getElementById("limit").innerHTML = "$" + numberWithCommas(data["limit"]);
			document.getElementById("lockedthismonth").innerHTML = "$" + numberWithCommas(data["lockedthismonth"]);
			if ( ! data["lockedthismonth"] > 0 ) {
				document.getElementById("trlockedthismonth").classList.add("table-danger");
			}

			// Savings Breakdown:
			document.getElementById("totallocked").innerHTML = "$" + numberWithCommas(data["totallocked"]);
			var tableSavingsBreakdown = document.getElementById("tablesavingsbreakdown");

			// Clear our table:
			var rows = tableSavingsBreakdown.rows;
			var i = rows.length;
			while (--i) {
				tableSavingsBreakdown.deleteRow(i);
			}

			// Now populate our table:
			data["totals"].forEach( function(obj) {
				
				var newRow = tableSavingsBreakdown.insertRow();

				var newCell1 = newRow.insertCell(0);
				var newCell1Text = document.createTextNode(capitaliseFLetter(paymentTypes[obj["payment_type_id"]]));
				newCell1.appendChild(newCell1Text);

				var newCell2 = newRow.insertCell(1);
				var newCell2Text = document.createTextNode("$" + numberWithCommas(obj["amount"]));
				newCell2.appendChild(newCell2Text);
			});
		}
	};
	// Fire off the request:
	reqBudgetSummary.send();
}


function getPaymentHistory() {

	// Create new request object:
	var reqPaymentHistory = new XMLHttpRequest();
	reqPaymentHistory.open("GET", "/ajax/payments");

	// Define event listener:
	reqPaymentHistory.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var ulPaymentHistory = document.getElementById("ulPaymentHistory")

			// Clean our Li before re-adding children:
			while (ulPaymentHistory.firstChild) {
				ulPaymentHistory.removeChild(ulPaymentHistory.firstChild);
			}

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var li = document.createElement("li");
				li.innerHTML = JSON.stringify(obj, null, 2);
				ulPaymentHistory.appendChild(li);
			});
		}
	};
	// Fire off the request:
	reqPaymentHistory.send();
}

function getPaymentSums() {

	// Create new request object:
	var reqPaymentSums = new XMLHttpRequest();
	reqPaymentSums.open("GET", "/ajax/paymentsummary");

	// Define event listener:
	reqPaymentSums.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var ulPaymentSummary = document.getElementById("ulPaymentSummary")

			// Clean our Li before re-adding children:
			while (ulPaymentSummary.firstChild) {
				ulPaymentSummary.removeChild(ulPaymentSummary.firstChild);
			}

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var li = document.createElement("li");
				li.innerHTML = JSON.stringify(obj, null, 2);
				ulPaymentSummary.appendChild(li);
			});
		}
	};
	// Fire off the request:
	reqPaymentSums.send();
}

function getMonthlySums() {

	// Create new request object:
	var reqMonthlySums = new XMLHttpRequest();
	reqMonthlySums.open("GET", "/ajax/monthlysummary");

	// Define event listener:
	reqMonthlySums.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var ulMonthlySummary = document.getElementById("ulMonthlySummary")

			// Clean our Li before re-adding children:
			while (ulMonthlySummary.firstChild) {
				ulMonthlySummary.removeChild(ulMonthlySummary.firstChild);
			}

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var li = document.createElement("li");
				li.innerHTML = JSON.stringify(obj, null, 2);
				ulMonthlySummary.appendChild(li);
			});
		}
	};
	// Fire off the request:
	reqMonthlySums.send();
}
// Submit payment to server
function submitPayment() {

	// Get our payment type:
	var selectPaymentTypes = document.getElementById("selectPaymentTypes");
	var paymentType = selectPaymentTypes.options[selectPaymentTypes.selectedIndex];
	if (paymentType.value == 0) {
		alert("Please select a payment bucket");
		return;
	}
	var payment_type_id = parseInt(paymentType.value);

	// Get our payment value:
	var amount = parseFloat(document.getElementById("inputPayment").value);
	if (amount == 0) {
		alert("Please entire an amount to pay");
		return;
	}

	// Populate json struct to send to backend:
	var paymentJSON = {
		"payment_type_id": 	payment_type_id,
		"amount":			amount
	}

	// Create new request object:
	var reqAddPayment = new XMLHttpRequest();
	reqAddPayment.open("POST", "/ajax/payments");
	reqAddPayment.setRequestHeader("Content-type", "application/json");
	reqAddPayment.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			// Refresh current display:
			loadBodyAjax();
		}
	};

	// Fire off the request:
	reqAddPayment.send(JSON.stringify(paymentJSON));
}

// Function loaded when body is ready:
function loadBodyAjax() {

	// Populate our master paymentTypes and
	// get our main budget summary:
	getPaymentTypes();
	getBudgetSummary();

	// Individual Bucket Breakdowns:
	getPaymentSums();

	// Deprecated:
	getPaymentHistory();
	getMonthlySums();
}
</script>
<style>
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* color: white; */
}

/* table, tr, td {
	color: white
} */

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2); */
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
</style>
</head>
<!--<body background="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Miles_Davis_Strasbourg_face_2.jpg/170px-Miles_Davis_Strasbourg_face_2.jpg" onload="loadBodyAjax()">-->
<body onload="loadBodyAjax()">
<div class="container">

	<h1>budget2</h1>
	<p class="lead">our budget tracking site</p>

	<div class="row">
		<div class="col-md-4">
			<h3>savings summary</h3>
			<p>if you're in a hurry, glance here:</p>
			<table class="table">
				<tr>
					<td>Bank Limit<br /><i>(Don't go lower than ...)</i></td>
					<td><b><div id="limit"></div></b></td>
				</tr>
				<tr id="trlockedthismonth" class="">
					<td>Saved this month<br /></td>
					<td><div id="lockedthismonth"></div></td>
				</tr>
			</table>
		</div>

		<div class="col-md-4">
			<h3>savings breakdown</h3>
			<p>ok, time for some detail:</p>
			<table id="tablesavingsbreakdown" class="table">
				<tr>
					<td>Total Locked:</td>
					<td><b><div id="totallocked"></div></b></td>
				</tr>
				<!-- <tr>
					<td>House:</td>
					<td>$290,000</td>
				</tr>
				<tr>
					<td>Holiday:</td>
					<td>$290,000</td>
				</tr>
				<tr>
					<td>Sinking:</td>
					<td>$290,000</td>
				</tr> -->
			</table>
		</div>
	</div>

	<h3>contribute</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Bucket</label>
			  </div>
			  <select class="custom-select" id="selectPaymentTypes">
				<option selected value="0">Choose...</option>
				<!-- <option value="1">House</option>
				<option value="2">Holiday</option>
				<option value="3">Sinking</option> -->
			  </select>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">$</span>
				</div>
				<input id="inputPayment" type="number" class="form-control" placeholder="100" aria-label="100" aria-describedby="basic-addon1">
				<div class="input-group-append">
					<!--<button class="btn btn-outline-secondary" type="button">Button</button>-->
					<button id="btnpay" class="btn btn-success" type="button" onclick="submitPayment()">Pay</button>
				</div>
			</div>
		</div>
	</div>

	<h3>house payment summary</h3>
	<div class="row">
		<div class="col-md-4">
			<table class="table">
				<tr>
					<th>Month</th>
					<th>Saving</th>
				</tr>
				<tr>
					<td>August</td>
					<td>$300</td>
				</tr>
				<tr>
					<td>June</td>
					<td>$3100</td>
				</tr>
			</table>
		</div>
	</div>

	<div name="divPaymentSummary">
		<ul id="ulPaymentSummary">
		</ul>
	</div>
	<h4>payment history</h4>
    <div name="divPaymentHistory">
      <ul id="ulPaymentHistory">
      </ul>
    </div>
	<h4>monthly sums</h4>
    <div name="divMonthlySummary">
      <ul id="ulMonthlySummary">
      </ul>
    </div>
</div>
</body>
</html>
