<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Budget2</title>
<script>
function getPaymentTypes() {

	// Create new request object:
	var reqPaymentTypes = new XMLHttpRequest();
	reqPaymentTypes.open("GET", "/ajax/payment_types");

	// Define event listener:
	reqPaymentTypes.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var selectPaymentTypes = document.getElementById("selectPaymentTypes")

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var option = document.createElement("option");
				option.value = obj.id;
				option.text = obj.name;
				selectPaymentTypes.add(option);
			});
		}
	};
	// Fire off the request:
	reqPaymentTypes.send();
}

function getPaymentHistory() {

	// Create new request object:
	var reqPaymentHistory = new XMLHttpRequest();
	reqPaymentHistory.open("GET", "/ajax/payments");

	// Define event listener:
	reqPaymentHistory.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var ulPaymentHistory = document.getElementById("ulPaymentHistory")

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var li = document.createElement("li");
				li.innerHTML = JSON.stringify(obj, null, 2);
				ulPaymentHistory.appendChild(li);
			});
		}
	};
	// Fire off the request:
	reqPaymentHistory.send();
}

// Function loaded when body is ready:
function loadBodyAjax() {
	getPaymentTypes();
	getPaymentHistory();
}

function submitPayment() {




}

</script>
</head>
<body onload="loadBodyAjax()">
	<h2>budget2</h2>
	<div name="divPayment">
	  <b>$</b>
	  <input type="text" name="inputPayment">
	  <select id="selectPaymentTypes">
	  </select>
	  <button name="buttonSubmitPayment" onclick="submitPayment()">Pay</button>
	</div>
	<h4>payment history</h4>
    <div name="divPaymentHistory">
      <ul id="ulPaymentHistory">
      </ul>
    </div>
</body>
</html>
