<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Budget2</title>

<script>

// Global variable mapping payment_type_id to name:
var paymentTypes = new Object();

// Helper function to add commas to numeric strings:
function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function capitaliseFLetter(x) {
		return x[0].toUpperCase() + x.slice(1);
}

// Helper function to convert a postgres date string representation
// into a human readable month.
function convertDateToMonthString(x) {
	const rx = /[0-9]{4}-([0-9]{2})/g;
	const monthNames = ["January", "February", "March", "April", "May", "June",
	  "July", "August", "September", "October", "November", "December"
	];
	var capture = rx.exec(x);
	return monthNames[parseInt(capture[1]) - 1];
}

// Get ourr PaymentTypes and populate our global map object:
function getPaymentTypes() {

	var reqPaymentTypes = new XMLHttpRequest();
	reqPaymentTypes.open("GET", "/api/v1/paymenttypes");

	reqPaymentTypes.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

			var data = JSON.parse(this.responseText);
			var selectPaymentTypes = document.getElementById("selectPaymentTypes")

			// Clear our select box:
			selectPaymentTypes.options.length = 0;

			data.forEach( function(obj) {

				// Populate our global variable:
				paymentTypes[obj.id] = obj.name;

				var option = document.createElement("option");
				option.value = obj.id;
				option.text = capitaliseFLetter(obj.name);
				selectPaymentTypes.add(option);
			});
		}
	};
	// Fire off the request:
	reqPaymentTypes.send();
}

// Function that gets our budget summary, populates the page with data
// and applies conditional formatting if required.
function getBudgetSummary() {

	// Create new request object:
	var reqBudgetSummary = new XMLHttpRequest();
	reqBudgetSummary.open("GET", "/api/v1/budgetsummary");

	// Define event listener:
	reqBudgetSummary.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);

			// Savings Summary:
			document.getElementById("limit").innerHTML = "$" + numberWithCommas(data["limit"]);
			document.getElementById("lockedthismonth").innerHTML = "$" + numberWithCommas(data["lockedthismonth"]);
			if ( ! data["lockedthismonth"] > 0 ) {
				document.getElementById("trlockedthismonth").classList.add("table-danger");
			} else {
				document.getElementById("trlockedthismonth").classList.remove("table-danger");
			}
			if ( ! data["rentpaid"] ) { 
				document.getElementById("rentadvice").innerHTML = "Rent has not yet been paid (~$3k)";
			} else {
				document.getElementById("rentadvice").innerHTML = "Rent has been paid!";
			}

			// Savings Breakdown:
			document.getElementById("totallocked").innerHTML = "$" + numberWithCommas(data["totallocked"]);
			var tableSavingsBreakdown = document.getElementById("tablesavingsbreakdown");

			// Clear our table:
			var rows = tableSavingsBreakdown.rows;
			var i = rows.length;
			while (--i) {
				tableSavingsBreakdown.deleteRow(i);
			}

			// Now populate our table:
			data["totals"].forEach( function(obj) {
				
				var newRow = tableSavingsBreakdown.insertRow();

				var newCell1 = newRow.insertCell(0);
				var newCell1Text = document.createTextNode(capitaliseFLetter(paymentTypes[obj["payment_type_id"]]));
				newCell1.appendChild(newCell1Text);

				var newCell2 = newRow.insertCell(1);
				var newCell2Text = document.createTextNode("$" + numberWithCommas(obj["amount"]));
				newCell2.appendChild(newCell2Text);
			});
		}
	};
	// Fire off the request:
	reqBudgetSummary.send();
}

function getPaymentSums() {

	// Create new request object:
	var reqPaymentSums = new XMLHttpRequest();
	reqPaymentSums.open("GET", "/api/v1/paymentsummary");

	// Define event listener:
	reqPaymentSums.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			// Parse the returned data and find our select object:
			var data = JSON.parse(this.responseText);
			var ulPaymentSummary = document.getElementById("ulPaymentSummary")

			// Clean our Li before re-adding children:
			while (ulPaymentSummary.firstChild) {
				ulPaymentSummary.removeChild(ulPaymentSummary.firstChild);
			}

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				var li = document.createElement("li");
				li.innerHTML = JSON.stringify(obj, null, 2);
				ulPaymentSummary.appendChild(li);
			});
		}
	};
	// Fire off the request:
	reqPaymentSums.send();
}

// Submit payment to server
function submitPayment() {

	// Get our payment type:
	var selectPaymentTypes = document.getElementById("selectPaymentTypes");
	var paymentType = selectPaymentTypes.options[selectPaymentTypes.selectedIndex];
	if (paymentType.value == 0) {
		alert("Please select a payment bucket");
		return;
	}
	var payment_type_id = parseInt(paymentType.value);

	// Get our payment value:
	var amount = parseFloat(document.getElementById("inputPayment").value);
	if (amount == 0) {
		alert("Please entire an amount to pay");
		return;
	}

	// Populate json struct to send to backend:
	var paymentJSON = {
		"payment_type_id": 	payment_type_id,
		"amount":			amount
	}

	// Create new request object:
	var reqAddPayment = new XMLHttpRequest();
	reqAddPayment.open("POST", "/api/v1/payments");
	reqAddPayment.setRequestHeader("Content-type", "application/json");
	reqAddPayment.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			// Refresh current display:
			loadBodyAjax();
		} else if (this.readyState == 4 && this.status == 405) {
			alert("Withdrawing from our savings is not allowed. Save harder!");
			loadBodyAjax();
		} else if (this.readyState == 4) {
			alert("Whoops something went wrong.");
			loadBodyAjax();
		}
		document.getElementById("inputPayment").value = "";
	};

	// Fire off the request:
	reqAddPayment.send(JSON.stringify(paymentJSON));
}

// Get our most recent monthly totals for the House fund:
function getRecentHouseHistory() {

	// Create new request object:
	var reqMonthlySums = new XMLHttpRequest();
	reqMonthlySums.open("GET", "/api/v1/recenthousehistory");

	// Define event listener:
	reqMonthlySums.onreadystatechange = function() {

		// Check if the request completed and was successful:
		if (this.readyState == 4 && this.status == 200) {

			var data = JSON.parse(this.responseText);
			var tableHouseHistory = document.getElementById("tablehousehistory");

			// Clear our table:
			var rows = tableHouseHistory.rows;
			for (var i = rows.length - 1; i > 1; i--) {
				tableHouseHistory.deleteRow(i);
			}

			// Used for calculating our average:
			var average = 0.0;
			var n = 0;

			// Foreach element returned in the JSON,
			// dynamically create our option object:
			data.forEach( function(obj) {
				
				var newRow = tableHouseHistory.insertRow();

				var newCell1 = newRow.insertCell(0);
				var newCell1Text = document.createTextNode(convertDateToMonthString(obj["payment_date"]));
				newCell1.appendChild(newCell1Text);

				var newCell2 = newRow.insertCell(1);
				var newCell2Text = document.createTextNode("$" + numberWithCommas(obj["amount"]));
				newCell2.appendChild(newCell2Text);

				++n;
				average += obj["amount"];

			});

			average = average / n;
			document.getElementById("averagehousehistory").innerHTML = "$" + Math.ceil(average);
		}
	};
	// Fire off the request:
	reqMonthlySums.send();
}

// Function loaded when body is ready:
function loadBodyAjax() {

	// Populate our master paymentTypes and
	// get our main budget summary:
	getPaymentTypes();
	getBudgetSummary();

	// Get our most recent monthly totals for the House fund:
	getRecentHouseHistory();
}
</script>
</head>
<!--<body background="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Miles_Davis_Strasbourg_face_2.jpg/170px-Miles_Davis_Strasbourg_face_2.jpg" onload="loadBodyAjax()">-->
<body onload="loadBodyAjax()">

<div class="container">

	<div class="starter-template">

		<div class="row">
			<div class="col-md-4 col-md-offset-6">
				<h1>budget2</h1>
				<p class="lead">our budget tracking site</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-4">

				Don't go below: <b><div id="limit"></div></b><br />
				<div id="rentadvice"></div>
				<br />

				<table id="tablesavingsbreakdown" class="table">
					<tr>
						<td>Total Locked:</td>
						<td><b><div id="totallocked"></div></b></td>
					</tr>
				</table>

				<table class="table">
					<tr id="trlockedthismonth" class="">
						<td>Saved this month<br /></td>
						<td><div id="lockedthismonth"></div></td>
					</tr>
				</table>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<h3>contribute</h3>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Bucket</label>
					</div>
					<select class="custom-select" id="selectPaymentTypes">
						<option selected value="0">Choose...</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">$</span>
					</div>
					<input id="inputPayment" type="number" class="form-control" placeholder="100" aria-label="100" aria-describedby="basic-addon1">
					<div class="input-group-append">
						<button id="btnpay" class="btn btn-success" type="button" onclick="submitPayment()">Pay</button>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<h3>house history</h3>
				<table id="tablehousehistory" class="table">
					<tr>
						<th>Month</th>
						<th>Saving</th>
					</tr>
					<tr>
						<th>Average</th>
						<th><div id="averagehousehistory"></div></th>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>
</body>
</html>
